<% if user_signed_in? %>
#You Are Logged In.!!!
<% else %>
<div class="container">
	<div class="jumbotron">
	  <h1>Welcome to My Picture Blog</h1>
	  	<p>You are going to experience a new type of picture 
					blog created by sandeep
					<%=link_to "One Month Rails","http://www.google.com"%>
		</p>
	  <p>
	  		<%=link_to "Signup",new_user_registration_path,class: "btn btn-primary btn-lg"%>
	  </p>
	</div>
</div>
 <% end %>